/* i código header */
header {
    background-image: linear-gradient(hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0.90));
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Trebuchet MS";
    border-bottom-style: solid;
    border-bottom-color: rgba(120, 120, 120, 0.25);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: block;
    margin-left: 150px;
}

nav li {
    float: left;
    margin-left: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

#headtitle {
    float: left;
    margin-left: 20px;
    font-weight: 550;
}

/* f código header */

body {
    margin-top: 75px;
    background-color: rgb(236, 228, 207);
    font-family: Tahoma;
}

#title {
    font-size: 50px;
}

img {
    height: 125px;
}

/* f código body */
footer {
    background-color: rgb(221, 202, 174);
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: auto 0;
}

footer h2 {
    float: left;
    padding: 10px;
}

footer a {
    float: left;
    padding: 10px;
    padding-top: 35px;
}
/* f código footer */
/* continuar o código para estilizar */
